body {
  color: white;
  margin: 0;
  padding: 0;
  background-image: url(img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.left {
  display: inline-block;
  border: 2px solid blue;
  position: absolute;
  left: 34px;
  top: 18px;
}
.mid {
  display: block;
  width: 33%;
  margin: 18px auto;
  border: 2px solid green;
}
.right {
  position: absolute;
  right: 34px;
  top: 18px;
  display: inline-block;
  border: 2px solid aqua;
}
.navbar {
  display: inline-block;
}
